<%= form_with(model: @task, local: true, url: choose_new_or_edit ) do |f| %>

  <% if task.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% task.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label '内容' %>
    <%= f.text_area :content, row: 5, class: 'form-control', id: 'task_content' %>
  </div>

  <%= f.submit nil, class: 'btn btn-primary' %>
<% end %>