<h3>以下の内容で、投稿する。</h3>

<div class="nav.justify-content-end">
  <%= link_to '一覧', tasks_path, class: 'nav-link' %>
</div>


<%= form_with(model: @task, local: true) do |f| %>
  <div class="form-group">
    <%= f.hidden_field :content %>
    <div class="item"><%= f.label '内容' %></div>
    <div class="item"><%= @task.content %></div>
    <div class="item"><%= f.label '画像' %></div>
    <div class="item">
      <% if @task.image.attached? %>
        <%= f.hidden_field :image, value: f.object.image.signed_id %>
        <%= image_tag(@task.image, class: 'image') %>
      <% else %>
        <%= 'なし' %>
      <% end %>
    </div>
  </div>

  <%= f.submit "投稿する", class: 'btn btn-primary' %>
  <%= f.submit "戻る", name: 'back', class: 'btn btn-primary' %>
<% end %>
