<!DOCTYPE html>
<html>
<head>
  <title>Facebookclone</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>


<header>
  <div class="header_container">
    <div class="item">logo</div>
    <div class="item">検索</div>
    <div class="item">login名 or 新規登録</div>
    <div class="item">home</div>
    <div class="item">logout or login</div>
  </div>

</header>

<body>
<div class="body">
  <div class="body_mid">
    <div class="infomation">
      <% if flash.notice.present? %>
        <div class="alert alert-success">
          <%= flash[:notice] %>
        </div>
      <% end %>
    </div>
    <%= yield %>
  </div>
</div>
</body>

</html>